<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<title>員工資料表 - 員工資料</title>
</head>
<body>
<div class="container">
	
	<h2>員工資料</h2>
	<hr>
	<form class="form" th:object="${employee}">
	<fieldset disabled>
	<p>
		<label for="emp-id">員工編號: </label>
		<input type="text" th:field="${employee.id}" id="emp-id" value="${employee.id}" />
	</p>
	<p>
		<label for="emp-name">姓名: </label>
		<input type="text" th:field="${employee.name}" id="emp-name" value="${employee.name}" />
	</p>
	<p>
		<label for="emp-job">職稱: </label>
		<input type="text" th:field="${employee.job}" id="emp-job" value="${employee.job}" />
	</p>
	<p>
		<label for="emp-ma">上級主管: </label>
		<input type="text" th:field="${employee.manager}" id="emp-ma" value="${employee.manager}" />
	</p>
	<p>
		<label for="emp-d">到職日期: </label>
		<input type="text" th:field="${employee.hiredate}" id="emp-d" value="${employee.hiredate}" />
	</p>			
	<p>
		<label for="emp-salary">薪資: </label>
		<input type="text" th:field="${employee.salary}" id="emp-salary" value="${employee.salary}" />
	</p>
	<p>
		<label for="emp-comm">獎金: </label>
		<input type="text" th:field="${employee.commission}" id="emp-comm" value="${employee.commission}" />
	</p>	
	<p>
		<label for="emp-dept">部門編號: </label>
		<input type="text" th:field="${employee.deptno}" id="emp-dept" value="${employee.deptno}" />
	</p>		
	</fieldset>
	</form>
	<!-- {id}( id=${employee.id} ) === /${employee.id} -->
	<a class="btn btn-outline-danger" th:href="@{/employee/update/{id}(id=${employee.id})}">更新員工資料</a>
	<a class="btn btn-danger" onclick="deleteEmp()" id="${employee.id}">刪除員工資料</a>
</div>

<script th:inline="javascript">
/* 刪除員工 */

/*<![CDATA[*/
function deleteEmp() {
	let theId = /*[[${employee.id}]]*/ 'default';
	let deleteMsg = prompt("確定要刪除此員工嗎?(id = " + theId + ") (確認刪除請輸入: 確認刪除)", "");
    if (deleteMsg == "確認刪除") {
        alert("刪除成功!!");
		location.href = "delete?empno=" + theId;
    }
}
/*]]>*/
</script>
</body>
</html>











